@import "./../../scss/abstracts/variables.scss";
.topbar{
font-style: normal;
font-weight: 400;
font-size: 14rem;
line-height: 140%;
/* identical to box height, or 20px */


width: 1255rem;
height: 42rem;

display: flex;
justify-content: space-between;
align-items: center;


  
  &-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__page-info{}

  &__page{

    &-link{
      display: flex;
    }

    &-home-icon{

    }

    &-location{

    }

    &-title{
      font-style: normal;
      font-weight: 700;
      font-size: 16rem;
    }
  }



  &__notification{
    position: relative;

    &-icon{
      
    }

    &-label{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 28rem;
      height: 18rem;
      line-height: 100%;
      background-color: $--linear---red;
      color: $--linear---white;

      font-size: 10rem;

      padding: 2rem 8rem;
      border-radius: 19rem;


      position: absolute;
      top: -8rem;
      left: 8rem;
    }
  }

  

}