@import "./../abstracts/variables.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*? this will make boder size as exact size */
  box-sizing: inherit;
}

html {
  /* this defines what 1 rem is */
  font-size: 6.25%;
}

body {
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $--secondary---text--color;
  &:visited{
    color: $--secondary---text--color;
  }
  &:active{
    color: $--linear---blue;
  }
}