@import './../../scss/abstracts/variables.scss';


.tweet-search {
  // width: 630rem;
  width: 1276rem;
  margin: 0 auto;
  margin-top: 20rem;

  border-left: $--border---body;
  border-right: $--border---body;



}

.tweet-search-bar {
  margin: 0 auto;
  font-size: 16rem;
  width: 577rem;
  height: 41rem;
  display: flex;
  align-items: center;
  justify-content: space-around;


  &>img {
    height: 22rem;
  }
}


.tweet-search-input {
  background-color: $--secondary---background--color;
  display: flex;
  height: 41rem;
  width: 444rem;
  align-items: center;
  padding: 0 10rem;
  border-radius: 30rem;

  &:focus {
    // box-shadow: $--drop-shadow-grey;
    background-color: $--linear---white;


  }

  &:hover {
    background-color: $--linear---white;
  }


  &>img {
    height: 16rem;
  }

  &>input {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 5rem;
    height: 41rem;
    border: none;
    background-color: transparent;

    padding: 10rem;


    &:focus {
      outline: none;
      // box-shadow: $--drop-shadow-grey;
      background-color: $--linear---white;


    }


  }




}

.tweet-search {

  &__more {
    display: block;

  }

  &__more-btn {
    margin-top: 10rem;
    margin-right: 10rem;
    
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &--more{
      background-color: #4caf9b;
      &:hover {
          background-color: darken($color: #4caf9b, $amount: 25);
        }
      
        &:active {
          background-color: darken($color: #4caf9b, $amount: 25);
          transform: translateY(4px);
        }
    }
    &--red{
      background-color: red;
        &:hover {
            background-color: darken($color: red, $amount: 25);
          }
        
          &:active {
            background-color: darken($color: red, $amount: 25);
            transform: translateY(4px);
          }
    }
   
  }
}
.tweet-search__dunot-chart {
  display: block;
  width: 100%;
  height: 400rem;
}